.container {
    width: 100%;
    height: auto;
}

.container-titulo {
    width: 100%;
    height: auto;
    text-align: center;
}

.container-titulo h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 4em;
    padding-top: 30px;
    font-weight: 400;
    text-shadow: 1px 1px 3px;
}

.container-titulo p {
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 1.01em;
    padding: 10px 0 0 5px;
}


/* -------------------------------------------------- */

.container-imagem {
    text-align: center;
}

#img {
    background: #000 url("https://static.gazetaesportiva.com/uploads/imagem/2020/11/23/Mike-Tyson-jovem-Credito-Reproducao-T3.jpg") center top /cover no-repeat;
    max-width: 90%;
    height: 500px;
    margin: 0 auto;
}

.container-imagem p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.009em;
}


/* --------------------------------------------- */


.container-linha-tempo {
    width: 100%;
    height: auto;
    text-align: center;
}

.container-linha-tempo h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.7em;
    padding: 10px;
    margin: 30px 0px;
}

.container-info {
    display: flex;
    justify-content: center;
}


.container-linha-tempo ul {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
}

.container-linha-tempo ul li {
    text-align: left;
    width: 100%;
    list-style: none;
    padding: 10px 0;
    font-size: 16px;
}

.container-linha-tempo li span {
    font-weight: bold;
    font-style: arial;
    font-size: 18px;
    text-shadow: 0 0 5px #59554e52;
}

/*  ------------------------------------------------------------  */


.rodape {
    padding:20px 10px 40px 10px;
    display: flex;
    justify-content: end
}

.frase-rodape {
    padding: 10px;
    margin-right: 20px;
    max-width: 500px;
}

.frase-rodape p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
    margin: 10px;
}

.frase-rodape p span {
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding: 5px 0 0 20px;
}

.frase-rodape p:nth-of-type(2) {
    text-align: end;
    margin-right: 30px;
    font-family: arial;
}

.frase-rodape a {
    text-decoration: none;
    color: rgba(0, 0, 255, 0.884);
}

.frase-rodape a:hover {

}