.container {
    width: 100%;
    height: auto;
}

.container-titulo {
    width: 100%;
    height: auto;
    text-align: center;
}

.container-titulo h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 4em;
    padding-top: 30px;
    font-weight: 400;
    text-shadow: 1px 1px 3px;
}

.container-titulo p {
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 1.01em;
    padding: 10px 0 0 5px;
}


/* -------------------------------------------------- */


.container-imagem {
    width: 100%;
    height: auto;
    text-align: center;
}

.container-imagem img {
    width: 95%;
    height: auto;
}

.container-imagem p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.009em;
}


/* --------------------------------------------- */


.container-linha-tempo {
    width: 100%;
    height: auto;
    text-align: center;
}

.container-linha-tempo h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.7em;
}